@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* HEADER */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: white;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.header-title{
    font-size: 24px;
    margin: 0;
}
.header-nav{
    display: flex;
    align-items: center;
}
.header-nav-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.header-nav-item{
    margin-left: 20px;
}
.header-nav-link{
    text-decoration: none;
    color: black;
}
.header-nav-link:hover{
    text-decoration: underline;
}
.header-nav-item.header-nav-item-contact a{
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}
.header-nav-item.header-nav-item-contact a:hover{
    text-decoration: none;
    opacity: 0.5;
}
.header-nav-item-github a{
    font-size: 28px;
}
.header-nav-item-github a:hover{
    opacity: 0.5;
}

/* INTRO */
.intro{
    text-align: center;
    padding: 120px 0 40px 0;
}
.intro-title{
    font-size: 44px;
    color: #333;
    margin: 0 0 10px 0;
    padding: 0 20px;
}
.intro-subtitle{
    font-size: 24px;
    font-weight: normal;
    color: #333;
    padding: 0 20px;
    max-width: 800px;
    margin: 0 auto;
}

/* PORTFOLIO */
img{
    max-width: 100%;
    height: auto;
    display: block;
}
.gallery{
    padding-bottom: 80px;
}
.gallery-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}
.gallery-item{
    position: relative;
    min-height: 300px;
}
.gallery-image-container{
    display: inline-block;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
}
.gallery-image-container:hover{
    transform: scale(1.05);
}
.gallery-item-info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 0.5rem;
}
.gallery-item-title{
    font-size: 16px;
}
.gallery-item-link{
    color: rebeccapurple;
}

/* MODAL */
.gallery-modal{
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
}
.gallery-modal-image{
    max-width: 80%;
    max-height: 80%;
}
.gallery-modal-close{
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.gallery-modal-checkbox{
    display: none;
}
.gallery-modal-checkbox:checked + .gallery-modal{
    display: flex;
}
@keyframes fadeIn{
    from{ opacity: 0; }
    to{ opacity: 1; }
}

/* CONTACT */
.contact{
    padding: 150px 0 300px 0;
    text-align: center;
}
.contact-title{
    font-size: 36px;
    color: #333;
}
.contact-description{
    font-size: 18px;
    color: #666;
    margin-top: 10px;
}

/* FOOTER */
.footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.footer-text{
    margin: 0;
}

/* MOBILE */
@media (max-width: 768px){
    .header .container{
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .header-title{
        text-align: center;
    }
    .header-nav-list{
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    .header-nav-item{
        margin-top: 10px;
    }
}
